.text{
    font-weight: bold;
    font-size: 3.9rem;
    color: blue;
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.form{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 19px;
    margin-top: 120px;
    background-color: antiquewhite;
    padding: 20px;

}

.form input{
    width: 100%;
    padding: 18px;
    background-color: #eaeaea;
    border: none;
    outline: none;

}
.form ::placeholder{
    color: black;
}
